In [1]:
# !pip install pyarrow
# !pip install scikit-learn
# !pip install numpy==1.23.0 --user

In [2]:
import sys
import importlib
sys.path.append('../')
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, Lasso
import math

from src.finance_ml.data_preparation.data_preparation import DataLoader
from src.finance_ml.cross_validation.cross_validation import CrossValidation

C:\Users\Richa\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
# Defining time_index_col (must be the same column in all inputs) and keep_cols refering to the columns that will remain in the dataset
dataloader = DataLoader(time_index_col= 'DATE', 
                    keep_cols = ['VOLUME','OPEN', 'HIGHT', 'LOW', 'CLOSE', 'VW','TRANSACTIONS'])

In [4]:
# Example Files
fname_RUBEUR = 'FX/RUBEUR_2020-04-07_2022-04-06.parquet'
fname_USDBRL = 'FX/USDBRL_2020-04-07_2022-04-06.parquet'
fname_AAPL = 'equities/AAPL_2020-04-07_2022-04-06.parquet'

# No. of Records from example dataset
N = 15000

In [5]:
# Dataset chosen in this simulation
ticker = 'AAPL'
fname = fname_AAPL

In [6]:
# loading assets into to an unique df
df = dataloader.load_dataset({ticker:'../data/'+fname}).iloc[:N]
display(df)

,AAPL_VOLUME,AAPL_OPEN,AAPL_HIGHT,AAPL_LOW,AAPL_CLOSE,AAPL_VW,AAPL_TRANSACTIONS
DATE,,,,,,,
2020-04-07 12:17:00,14256.0,67.3500,67.3625,67.3275,67.3375,67.3454,45
2020-04-07 12:18:00,16552.0,67.3501,67.3625,67.3250,67.3250,67.3407,57
2020-04-07 12:19:00,80172.0,67.3250,67.4475,67.3250,67.4225,67.3937,149
2020-04-07 12:20:00,183740.0,67.4475,67.4700,67.3125,67.3700,67.3671,159
2020-04-07 12:21:00,35372.0,67.3500,67.3850,67.2975,67.2975,67.3469,102
...,...,...,...,...,...,...,...
2020-05-06 10:37:00,3600.0,74.9575,74.9625,74.9575,74.9625,74.9582,16
2020-05-06 10:38:00,1144.0,74.9550,74.9550,74.9550,74.9550,74.9471,6
2020-05-06 10:43:00,3652.0,74.9425,74.9500,74.9425,74.9500,74.9466,15
2020-05-06 10:45:00,4800.0,74.9475,74.9475,74.9450,74.9450,74.9453,7
2020-05-06 10:46:00,3484.0,74.9450,74.9450,74.9450,74.9450,74.9462,9

In [7]:
X = df.drop('AAPL_VW', axis=1)
Y = df['AAPL_VW']

In [8]:
import warnings
warnings.filterwarnings('ignore')

CV = CrossValidation()

display(np.mean(CV.cross_validation_score(X, Y, Lasso(alpha=0.1))))
# display(np.mean(CV.cross_validation_score(X, Y, Lasso(alpha=0.2))))
# display(np.mean(CV.cross_validation_score(X, Y, Lasso(alpha=0.3))))
# display(np.mean(CV.cross_validation_score(X, Y, Lasso(alpha=0.4))))
# display(np.mean(CV.cross_validation_score(X, Y, Lasso(alpha=0.5))))
# display(np.mean(CV.cross_validation_score(X, Y, Lasso(alpha=0.6))))
# display(np.mean(CV.cross_validation_score(X, Y, Lasso(alpha=0.7))))
# display(np.mean(CV.cross_validation_score(X, Y, Lasso(alpha=0.8))))
# display(np.mean(CV.cross_validation_score(X, Y, Lasso(alpha=0.9))))
# display(np.mean(CV.cross_validation_score(X, Y, Lasso(alpha=1))))

0.008653635099010678