### Implementation of Elastic Net with Indicators

### Importing the Libraries

In [1]:
import sys
sys.path.append('../')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from src.finance_ml.indicators.indicators import Indicators
from src.finance_ml.Elastic_Net_with_Indicators.Elastic_Net_with_Indicators import ElasticNetModel

### Data Collection and Pre-Processing

In [2]:
data_file = '../data/real_estate/KBWY_2020-04-07_2022-04-06.parquet'
model = ElasticNetModel(data_file)
model.load_data()

../data/real_estate/KBWY_2020-04-07_2022-04-06.parquet

In [3]:
model.df.head()

,VOLUME,VW,OPEN,CLOSE,HIGHT,LOW,t,TRANSACTIONS,a,op,DATE
0,101,15.9531,15.9531,15.9531,15.9531,15.9531,1586283720000,2,NaN,NaN,2020-04-07 18:22:00
1,642,15.9981,16.0000,15.9950,16.0000,15.9950,1586283840000,3,NaN,NaN,2020-04-07 18:24:00
2,200,16.0150,16.0150,16.0150,16.0150,16.0150,1586283900000,1,NaN,NaN,2020-04-07 18:25:00
3,200,16.0393,16.0400,16.0400,16.0400,16.0400,1586284020000,2,NaN,NaN,2020-04-07 18:27:00
4,130,16.0582,16.0606,16.0606,16.0606,16.0606,1586284080000,3,NaN,NaN,2020-04-07 18:28:00

### Cleaning Data

In [4]:
#dropping unnecessary columns and handling missing values

model.clean_data()

### Implementing Indicators

In [5]:
#implementing financial indicators VWAP and MFI

model.implement_indicators()
model.df.tail()

,VOLUME,VW,OPEN,CLOSE,HIGHT,LOW,t,TRANSACTIONS,a,op,MFI_w14,VWAP_w14
75596,243,25.1100,25.11,25.11,25.11,25.110,1649274780000,4,25.0225,24.95,71.831921,25.096402
75597,614,25.0935,25.10,25.09,25.10,25.090,1649274840000,8,25.0229,24.95,54.571254,25.099799
75598,206,25.1000,25.10,25.10,25.10,25.100,1649275020000,3,25.0230,24.95,54.631210,25.100296
75599,202,25.1100,25.11,25.11,25.11,25.110,1649275080000,3,25.0232,24.95,56.514163,25.112274
75600,1025,25.0981,25.10,25.10,25.10,25.095,1649275140000,12,25.0239,24.95,47.532446,25.110645

### Splitting Data

In [6]:
#Spliting the Data to Train and Test Dataset

model.split_data()

### Training ElasticNet Model

In [7]:
#Training the ElasticNet model

model.train_model()

C:\Users\Aishwarya\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.069e+03, tolerance: 3.462e+01
  model = cd_fast.enet_coordinate_descent(

### Model Evaluation

In [8]:
#Evaluating the performance of the prediction made by ElasticNet model using Performance Metrics such as 
#Mean Squared Error (MSE)
#Mean Absolute Error (MAE)
#Root Mean Squared Error (RMSE)

mse, mae, rmse = model.evaluate_model()
print("Evaluation for ElasticNet Model:")
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)

Evaluation for ElasticNet Model:
Mean Squared Error: 0.0034470977384089526
Mean Absolute Error: 0.04099734691021624
Root Mean Squared Error: 0.058711989733008986

### Evaluation for best estimation hyperparameters

In [9]:
#We evaluate for the best estimation hyperparameters using Grid Search approach.
#for the comparison

mse, mae, rmse, best_estimator = model.hyperparameter_tuning()
print("Evaluation for best estimation hyperparameters:")
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)
print("Best Estimator:", best_estimator)

Evaluation for best estimation hyperparameters:
Mean Squared Error: 0.0015490203538015492
Mean Absolute Error: 0.021131218458073205
Root Mean Squared Error: 0.03935759588442299
Best Estimator: ElasticNet(alpha=0.1, l1_ratio=0.1)

C:\Users\Aishwarya\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.100e+03, tolerance: 3.462e+01
  model = cd_fast.enet_coordinate_descent(

### We can derive that the model performs well for alpha=0.1 and l1_ratio=0.1